body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #509cfe;
}

h2 {
  text-align: center;
  color: #f3f3f3;
  font-size: 30px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

/* NavBar */
.navbar {
  padding: 25px 50px;
  background-color: #2563b355;
}

.navbar a {
  margin: 0 10px;
  padding: 5px;
  color: #f3f3f3;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.275);
  position: relative;
}

.navbar a::before {
  content: '';
  background-color: #2563b3a6;
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .2s ease-in-out;
}

.navbar a:hover::before {
  bottom: 0;
  height: 100%;
}

/* Main Content (contains search & list) */
main {
  padding: 0 50px;
}

.search {
  padding-right: 25px;
  display: flex;
  justify-content: center;
}

.search input {
  width: 500px;
  background-color: #f3f3f3;
  margin-left: 50px;
}


/* MovieList */
.movie-table {
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9em;
  min-width: 600px;
  max-width: 1000px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.275)
}

.movie-table thead tr {
  background-color: #2563B3;
  color: #fff;
  text-align: left;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.275)
}

.movie-table th,
.movie-table td {
  padding: 12px 15px;
}

.movie-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.movie-table tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.movie-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.movie-table tbody tr:last-of-type {
  border-bottom: 5px solid #2563B3;
}

.table-title {
  font-weight: 600;
}

.movie-table button {
  width: 25px;
  height: 25px;
  border: none;
  background-color: #509bfe3d;
  color: #2563B3;
  border-radius: 3px;
  font-size: 18px;
}

.movie-table button:hover {
  background-color: #509cfe;
  color: #fff;
}


/* AddMovie Form */
.add-movie-form {
  width: 500px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, textarea {
  width: 300px;
  margin: 10px 0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.275);
  border: 2px solid #ddd;
  padding: 10px;
  background-color: #f3f3f3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.add-movie-favorite {
  width: 300px;
  color: #f3f3f3;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

}

.add-movie-favorite-checkbox {
  width: 10px;
  margin-right: 5px;
}

button {
  width: 100px;
  margin: 0 auto;
}